/*Start of common styles*/
    body {
        font-family: Ubuntu, Verdana, Arial;
        padding:0 10px;
        padding-bottom: 10px;
    }

    a {
        color: #2A6496;
        text-decoration: none;
    }
        a:hover {
            background: #2A6496;
            color: #fff;
        }

    hr {
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), color-stop(0.5, rgba(0, 0, :;, 0.2)), to(transparent));
        background-image: -webkit-linear-gradient(to left, transparent, rgba(0, 0, 0, 0.2), transparent);
        background-image: -moz-linear-gradient(to left, transparent, rgba(0, 0, 0, 0.2), transparent);
        background-image: -o-linear-gradient(to left, transparent, rgba(0, 0, 0, 0.2), transparent);
        background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.2), transparent);
        border: 0 none;
        height: 1px;
        max-width: 540px;
        margin: 10px auto;
        display: block;
    }

    #menu {
        text-align: center;
    }
        #menu a {
            padding-right: 5px;
        }

    #header {
        text-align: center;
        height : 200px;
        padding-top: 20px;
    }
        #header img {
            height: 92px;
            width: 92px;
            border-radius: 50px;
            margin-top:5px;
        }
        #header > a {
            height:102px;
            width:102px;
            display:inline-block;
            border-radius:50px;
            background:none;
            outline: 0;
        }
            #header > a:hover{
                background: #ccc !important;
            }
    #footer {
        text-align: center;
    }
    #footer > iframe {
        margin-top: 20px;
        margin-bottom: 20px;
    }
/* End of common styles */
